name: Convert Rules to MRS
run-name: Convert Rules to MRS

on:
  push:
    branches:
      - main
    paths:
      - 'rule/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y jq curl

      - name: Download Mihomo
        run: |
          LATEST_VERSION=$(curl -sL -H "User-Agent: GitHubActions" https://api.github.com/repos/MetaCubeX/mihomo/releases/latest | jq -r '.tag_name')
          DOWNLOAD_URL="https://github.com/MetaCubeX/mihomo/releases/download/${LATEST_VERSION}/mihomo-linux-amd64-${LATEST_VERSION}.gz"
          curl -sL -o mihomo.gz "$DOWNLOAD_URL"
          gunzip mihomo.gz
          chmod +x mihomo
          sudo mv mihomo /usr/local/bin/mihomo

      - name: Convert rules
        run: |
          mkdir -p output
          exclude_list=("regex.list" "example.list")
          for file in $(find rule -type f -name "*.list"); do
            filename=$(basename "$file")
            if [[ " ${exclude_list[@]} " =~ " ${filename} " ]]; then
              echo "Skip file: $filename"
              continue
            fi
            if [[ "$filename" == *ip* ]]; then
              mihomo convert-ruleset ipcidr text "$file" "output/${filename%.list}.mrs"
            else
              mihomo convert-ruleset domain text "$file" "output/${filename%.list}.mrs"
            fi
          done

      - name: Commit converted rules to new branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git checkout --orphan converted-rules
          git rm -rf .
          mv output/*.mrs .
          git add *.mrs
          git commit -m "Update converted rules"
          git push origin converted-rules --force